.leftCarouselContainer {
  flex: 0.3;
  background-color: azure;
  overflow: scroll;
}
.l1Container {
  /* width: 100%; */
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  border: 1px solid black;
  border-radius: 20px;
  cursor: pointer;
}
.l1Container:hover {
  background-color: bisque;
}
.upDownArrow {
  font-size: 1.5rem;
}

.l1Title {
  font-size: 2rem;
  font-weight: 400;
  /* border: 1px solid black; */
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  text-align: center;
  padding: 15px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.l1Title:hover {
  background-color: aquamarine;
}

.links {
  cursor: pointer;
  height: 2rem;
  font-size: 1.6rem;
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}
.links:hover {
  color: gray;
}

@media screen and (max-width: 480px) {
  .leftCarouselContainer {
    flex: 0.4;
  }
  .l1Title {
    text-align: left;
    font-size: 1rem;
    font-weight: 500;
    padding: 10px;
    justify-content: flex-start;
  }
  .links {
    font-size: 0.9rem;
    padding: 5px;
    font-weight: 600;
    align-items: center;
    justify-content: flex-start;
  }
}
